/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | ESC |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | BKSP|
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  '  |
//                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp ESC 
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp BSPC
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp SQT 
                      &kp LGUI &mo 1 &kp RET     &kp SPACE &mo 2 &kp LALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// | SHFT |     |     |  {  |  [  |  (  |   |  )  |  ]  |  }  |     |  \  | BKSP |
// | CTRL | "|" |  =  |  +  |  -  |  _  |   |     |     |     |     |     |  `   |
//                    | GUI |     | ENT |   | SPC |     | ALT |
                        bindings = <
   &trans &kp N1       &kp N2       &kp N3     &kp N4   &kp N5   &kp N6      &kp N7       &kp N8       &kp N9       &kp N0       &trans
   &trans &trans  &trans &kp LBRC &kp LBKT &kp LPAR    &kp RPAR  &kp RBKT  &kp RBRC &trans &kp BSLH &trans
   &trans &kp PIPE &kp EQUAL &kp PLUS &kp MINUS &kp UNDER &trans &trans &trans &kp QMARK &trans &kp GRAVE
                             &trans &trans &trans &trans &trans &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |     |     |      |
// | SHFT |     |     | F1  | F5  | F11 |   | LFT | DWN |  UP | RGT |     |  DEL |
// | CTRL |BTCLR| BT1 | BT2 | OBL |     |   | MUTE|VDOWN| VUP |BDOWN| BUP |   "  |
//                    | GUI |     | ENT |   | SPC |     | ALT | 
                        bindings = <
   &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &trans &trans &trans
   &trans &trans       &trans       &kp F1     &kp F5   &kp F11  &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT    &trans       &kp DEL
   &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1  &out OUT_BLE &trans   &kp K_MUTE  &kp K_VOL_DN &kp K_VOL_UP &kp C_BRI_DN &kp C_BRI_UP &kp DQT
                             &trans &trans &trans &trans &trans &trans
                        >;
                };
        };
};
